*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif;
}

center{
	position: relative;
	margin: 20px auto;
	width: 600px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: blue; 
	color:white;
	font-weight:bold;
	border:5px solid #ccc;
	border-radius: 20px; 

} 

#calculadora{
	position: relative;
	margin: 20px auto;
	width: 400px;
	height: 600px;
	border: 1px solid #aaa;
	box-shadow: 5px 5px 4px #111;
	border-radius: 20px; 
	background: #ddd; 
}

#operaciones{
	position: relative;
	margin: 20px auto;
	width: 70%;
	background: white; 
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #111;
	padding: 10%;
	text-align: right;
	font-size: 25px;
	overflow: hidden;
} 

#caluladora ul {
	margin-left: 5px;
}

#calculadora ul li {
	float: left;
	padding: 32px;
	width: 15px;
	text-align: center; 
	margin: 8px;
	background: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #111;
	font-weight: bold;
	cursor:pointer;
}
/*hover es onfocus*/
#calculadora ul li:hover{

	background: magenta;
	color: white;
}
/*active es onclick*/
#calculadora ul li:active{
	background: cyan; 
	color:white;
}


#borrar {

	position: absolute;
	bottom: 10px; 
	padding: 5px 15px; 
	width: 60px;
	background: cyan;
	border-radius: 10px; 
	left: 150px;
	border: 1px solid #bbb; 
	box-shadow: 5px 5px 10px #111;
	color:green;
	cursor:pointer;
}







